<form [formGroup]="form"
  (ngSubmit)="onSubmit()"
  name="form"
  novalidate>
  <input type="text"
    placeholder="Start date"
    formControlName="date">
  <input type="text"
    placeholder="Number of days"
    formControlName="days">
  <input type="text"
    placeholder="Country code"
    formControlName="code">
  <button type="submit">Fetch calendar</button>
</form>

<section *ngFor="let month of months">
  <header>
    <h2>{{ month.month + ' ' + month.year }}</h2>
  </header>
  <ul class="month">
    <li *ngFor="let week of month.weeks"
      class="week">
      <div *ngFor="let day of week; let i = index"
        class="day">
        <span *ngIf="!day"
          class="day--date invalid">
          <span class="hidden">0</span>
        </span>
        <span *ngIf="day && (i === 0 || i === 6)"
          class="day--date weekends">
          {{ day }}
        </span>
        <span *ngIf="day && (i !== 0 && i !== 6)"
          class="day--date weekdays">
          {{ day }}
        </span>
      </div>
    </li>
  </ul>
</section>
