<form [formGroup]="form"
  (ngSubmit)="onSubmit()"
  name="form"
  novalidate>
  <input type="text"
    placeholder="Start date"
    formControlName="date">
  <input type="text"
    placeholder="Number of days"
    formControlName="days">
  <input type="text"
    placeholder="Country code"
    formControlName="code">
  <button type="submit">Fetch calendar</button>
</form>

<div *ngIf="error">There was an error with your request</div>

<section *ngFor="let cal of calendar"
  class="calendar">
  <ul class="month">
    <li class="day-titles">
      <span class="day">S</span>
      <span class="day">M</span>
      <span class="day">T</span>
      <span class="day">W</span>
      <span class="day">T</span>
      <span class="day">F</span>
      <span class="day">S</span>
    </li>
    <li class="title">
      <h4>{{ cal.month + ' ' + cal.year }}</h4>
    </li>
    <li *ngFor="let week of cal.weeks"
      class="week">
      <div *ngFor="let day of week; let i = index"
        class="day">
        <span *ngIf="!day"
          class="day--date invalid">
          <span class="hidden">0</span>
        </span>
        <span *ngIf="day && (i === 0 || i === 6)"
          class="day--date weekends">
          {{ day }}
        </span>
        <span *ngIf="day && (i !== 0 && i !== 6)"
          class="day--date weekdays">
          {{ day }}
        </span>
      </div>
    </li>
  </ul>
</section>
